{
    "lab_momentum": 1.5,
    "lmd_geometry_filename": "Luminosity-Detector.root",
    "low_index": 1,
    "num_events_per_sample": 1000,
    "num_samples": 1,
    "output_dir": "",
    "reco_ip_offset": [
        0,
        0,
        0
    ],
    "track_search_algo": "CA",
    "use_m_cut": false,
    "use_xy_cut": false
}