{
    "beam_divergence_x": 0.0,
    "beam_divergence_y": 0.0,
    "beam_tilt_x": 0.0,
    "beam_tilt_y": 0.0,
    "ip_offset_x": 0.0,
    "ip_offset_y": 0.0,
    "ip_offset_z": 0.0,
    "ip_spread_x": 0.0,
    "ip_spread_y": 0.0,
    "ip_spread_z": 0.0,
    "lab_momentum": 1.5,
    "lmd_geometry_filename": "Luminosity-Detector.root",
    "low_index": 1,
    "neglect_recoil_momentum": false,
    "num_events_per_sample": 1000,
    "num_samples": 1,
    "output_dir": "",
    "phi_max_in_rad": 6.283185307179586,
    "phi_min_in_rad": 0.0,
    "random_seed": 9265,
    "sim_type": "dpm_elastic",
    "theta_max_in_mrad": 13.0,
    "theta_min_in_mrad": 2.7
}